---
layout: page
permalink: <%= @news_page_link %>
comments: false
---

<meta name="description" content="<%= @news_description %>">

<meta property="og:site_name" content="makemetechie">
<meta property="og:title" content="<%= @news_page_heading %>">
<meta property="og:type" content="article">
<meta property="og:description" content="<%= @news_description %>"/>

<meta property="og:url" content="<%= @news_page_link %>" />
<meta property="article:tag" content="<%= @news_source %>">



<div class="row">
<div class="col-12">
<h2><%= @news_page_heading %></h2>
</div>
</div>
<div class="row">
<div class="col-12">
<img src="<%= @news_image %>">
</div>
</div>
<div class="row">
<div class="col-12 mt-2">
<button type="button" class="btn btn-outline-info"><%= @news_source %></button>
</div>
</div>
<div class="row">
<div class="col-12">
<div><%= @news_summary %></div>
</div>
</div>
<div class="row">
<div class="col-12">


<div>
  {% include ads-main.html %}
</div>

<div><%= @news_body %></div>
</div>
</div>
<div class="row">
<div class="col-12 text-center">
<a href="<%= @news_more %>">
<button type="button" class="btn btn-info">Read More</button>
</a>
</div>
</div>
